@model IEnumerable<CarteiraDigital.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Cadastrar" class="btn btn-dark mt-2 mb-4">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td class="pl-3">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="pl-4 pr=0">
                <a asp-controller="Pessoa" asp-action="Deletar" class="btn btn-danger" asp-route-id="@item.Id">Deletar</a>
                <a asp-controller="Pessoa" asp-action="Atualizar" class="btn btn-success" asp-route-id="@item.Id">Atualizar</a>
                <a asp-controller="Pessoa" asp-action="Detalhes" class="btn btn-primary" asp-route-id="@item.Id">Detalhes</a>
                <a asp-controller="Movimentos" asp-action="GeraMovimentos" class="btn btn-warning" asp-route-id="@item.Id">Movimentos</a>
            </td> 
        </tr>
 }
    </tbody> 
</table>

<div>
    <a asp-controller="Home" asp-action="Index" class="btn btn-light">Voltar</a>
</div>