@{
    ViewData["Title"] = "Extrato";
}

<div class="mb-2">
    <h1>Tabela de Extratos</h1>
</div>

<a asp-controller="Pessoa" asp-action="Index" class="btn btn-light mt-2 mb-2">Voltar</a>
<button id="filtrarBtn" class="btn btn-info ml-3" data-toggle="modal" data-target="#filtroModal">Filtrar</button>

<div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtroModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form asp-controller="Movimentos" asp-action="FiltroExtrato" method="post">
                    <div class="form-group">
                        <input name="id" value="@ViewBag.id" type="hidden" />
                        <h6 class="mt-2">Filtrar Por Data:</h6>
                        <select id="opcaoPeriodo" class="form-control" name="tipoPeriodo">
                            <option value="0">7 Dias</option>
                            <option value="1">15 Dias</option>
                            <option value="2">30 Dias</option>
                            <option value="3">Personalizar</option>
                        </select>
                    </div>
                    <div id="inputData">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dataInicio">Data Início:</label>
                                    <input class="form-control" type="date" name="dataInicio">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dataFim">Data Fim:</label>
                                    <input class="form-control" type="date" name="dataFim" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6 class="mt-1">Filtrar Por Movimento:</h6>
                        <select id="opcaoTipoMovimento" class="form-control" name="tipoMovimento">
                            <option value="0">Somente Entradas</option>
                            <option value="1">Somente Saídas</option>
                            <option value="2">Entradas e Saídas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="aplicarFiltroBtn">Aplicar Filtro</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="card mt-3">
    <div class="card-header text-center">EXTRATO</div>
    <div class="card-body pb-0">
        <table class="table custom-table">
            <thead>
                <tr class="text-center col">
                    <th class="col-2">
                        DATA
                    </th>
                    <th class="col-4">
                        DESCRIÇÃO
                    </th>
                    <th class="col-2">
                        TIPO
                    </th>
                    <th class="col-2">
                        VALOR
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.mov)
                {
                    <tr class="text-center">
                        <td>
                            @item.Data
                        </td>
                        <td>
                            @item.Descricao
                        </td>
                        <td>
                            @item.Tipo
                        </td>
                        <td>
                            R$ @Math.Round(item.Valor, 2)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Esconder o campo de entrada de data inicialmente
            $("#inputData").hide();

            $("#opcaoPeriodo").change(function () {
                var selectedOption = $(this).val();
                if (selectedOption === "3") {
                    $("#inputData").show();
                } else {
                    $("#inputData").hide();
                }
            });

            // Verificar se a lista movimentosFiltrados está vazia
            var movimentosFiltrados = @Html.Raw(Json.Serialize(ViewBag.mov));
            if (movimentosFiltrados.length === 0) {
                $(".card-body").prepend('<div class="alert alert-info text-center">Não há registros de movimentos com os filtros selecionados.</div>');
            }
        });
    </script>
} 