@using CarteiraDigital.ViewModel;

@{
    ViewData["Title"] = "Extrato";
}

<div class="mb-3">
    <h1>Tabela de Extrato de @ViewBag.nome</h1>
</div>

<a asp-controller="Pessoa" asp-action="Index" class="btn btn-light mt-2 mb-2">Voltar</a>
<button id="filtrarBtn" class="btn btn-info ml-3" data-toggle="modal" data-target="#filtroModal">Filtrar</button>

<div>
    <p class="text-danger mt-3 mb-1">Saldo Anterior: R$ <span class="saldo">@Math.Round(ViewBag.SaldoAnterior, 2)</span></p>
</div>

<div class="modal fade" id="filtroModal" tabindex="-1" role="dialog" aria-labelledby="filtroModalLabel" aria-hidden="true"> 
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filtroModalLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mb-2">
                <form asp-controller="Movimentos" asp-action="FiltroExtrato" method="post">
                    <div class="form-group">
                        <input name="id" value="@ViewBag.id" type="hidden" />
                        <h6 class="mt-2">Filtrar Por Data:</h6>
                        <select id="opcaoPeriodo" class="form-control" name="tipoPeriodo">
                            <option value="0">7 Dias</option>
                            <option value="1">15 Dias</option>
                            <option value="2">30 Dias</option>
                            <option value="3">Personalizar</option>
                        </select>
                    </div>
                    <div id="inputData">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dataInicio">Data Início:</label>
                                    <input class="form-control" type="date" id="data-inicio" name="dataInicio">
                                    <span class="text-danger" id="erro-inicio"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dataFim">Data Fim:</label>
                                    <input class="form-control" type="date" id="data-fim" name="dataFim" />
                                    <span class="text-danger" id="erro-fim"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h6 class="mt-1">Filtrar Por Movimento:</h6>
                        <select id="opcaoTipoMovimento" class="form-control" name="tipoMovimento">
                            <option value="0">Somente Entradas</option>
                            <option value="1">Somente Saídas</option>
                            <option value="2">Entradas e Saídas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="aplicarFiltroBtn">Aplicar Filtro</button>
                        <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Fechar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.mov != null && !(ViewBag.mov as IEnumerable<MovimentoViewModel>).Any())
{
    <div class="alert alert-info text-center mt-3 text-white bg-danger">Não Há Registros Aqui.</div>
}

else
{
    <div class="card mt-1">
        <div class="card-header text-center">EXTRATO</div>
        <div class="card-body pb-0">
            <table class="table custom-table">
                <thead>
                    <tr class="text-center col">
                        <th class="col-2">
                            DATA
                        </th>
                        <th class="col-4">
                            DESCRIÇÃO
                        </th>
                        <th class="col-2">
                            TIPO
                        </th>
                        <th class="col-2">
                            VALOR
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.mov)
                    {
                        <tr class="text-center">
                            <td>
                                @item.Data
                            </td>
                            <td>
                                @item.Descricao
                            </td>
                            <td>
                                @item.Tipo
                            </td>
                            <td>
                                <div class="formatarNumero">@Math.Round(item.Valor, 2)</div> 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div>
    <p class="mt-1 mb-1 text-danger">Saldo Atual: R$ <span class="saldo">@Math.Round(ViewBag.Saldo, 2)</span></p>
</div>

@section Scripts {
    <script>
        document.getElementById('data-inicio').addEventListener('input', limparAlertaInicio);
        document.getElementById('data-fim').addEventListener('input', limparAlertaFim);

        function limparAlertaInicio() {
            var erroInicio = document.getElementById('erro-inicio');
            erroInicio.textContent = '';
        }
        function limparAlertaFim() {
            var erroFim = document.getElementById('erro-fim');
            erroFim.textContent = '';
        }

        document.getElementById('aplicarFiltroBtn').addEventListener('click', function (event) {
            var opcaoPeriodo = document.getElementById('opcaoPeriodo').value;
            var inicioInput = document.getElementById('data-inicio').value;
            var fimInput = document.getElementById('data-fim').value;
            var erroInicio = document.getElementById('erro-inicio');
            var erroFim = document.getElementById('erro-fim');

            if (opcaoPeriodo === "3") {
                if (inicioInput.trim() === '') {
                    event.preventDefault();
                    erroInicio.textContent = "Selecione uma data de início.";
                }
                if (fimInput.trim() === '') {
                    event.preventDefault();
                    erroFim.textContent = "Selecione uma data final.";
                }
                var dataInicio = new Date(inicioInput);
                var dataFim = new Date(fimInput);
                if (dataInicio > dataFim) {
                    event.preventDefault();
                    erroInicio.textContent = "A Data de Inicío não pode ser posterior a Data Final.";
                }
            }
        });

        $(".saldo").each(function () {
            const saldo = $(this).text();
            $(this).text(formatarNumero(saldo));
        });

        $(document).ready(function () {
            $("#inputData").hide();

            $("#opcaoPeriodo").change(function () {
                var selectedOption = $(this).val();
                if (selectedOption === "3") {
                    $("#inputData").show();
                } else {
                    $("#inputData").hide();
                }
            });

            $(".formatarNumero").each(function () {
                var valor = $(this).text();
                $(this).text(valor == 0 ? "0,00" : formatarNumero(valor));
            });
        });

        function formatarNumero(numero) {
            var partes = numero.toString().split(",");
            partes[0] = parseInt(partes[0]).toLocaleString();
            partes[1] = partes[1] ? partes[1].padEnd(2, "0") : "00";
            return partes.join(",");
        } 
    </script>
} 