@model CarteiraDigital.Models.MovimentoEntrada

@{
    ViewData["Title"] = "GeraMovimentos";
}

<h1>GeraMovimentos</h1>

<h4>MovimentoEntrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GeraMovimentos">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email) 
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <a asp-controller="Pessoa" asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                                <a asp-controller="Pessoa" asp-action="Atualizar" asp-route-id="@item.Id">Atualizar</a>
                                <a asp-controller="Pessoa" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                                <a asp-controller="Pessoa" asp-action="Movimentos Entrada" asp-route-id="@item.Id">Movimentos Entrada</a>
                                <a asp-controller="Pessoa" asp-action="Movimentos Saída" asp-route-id="@item.Id">Movimentos Saída</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>







            @*<div class="form-group">
            <label asp-for="Descricao" class="control-label">Descrição</label>
            <input asp-for="Descricao" class="form-control" />
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Valor" class="control-label">Valor</label>
            <input asp-for="Valor" class="form-control" />
            <span asp-validation-for="Valor" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Adicionar Movimento Entrada" class="btn btn-primary" />
        </div>*@
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
